<!-- ./views/index.handlebars-->
<!-- load partial view of "messages" -->
{{> messages}}
<div class="card">
  <div class="card-body mx-auto">
    <img src="https://picsum.photos/300" alt="Title logo">
    <h5>博客來推廣連結產生器</h5>
    <form method="POST" action="/links">
      <div class="form-group">
        <label for="bookName">書籍名稱</label>
        <input type="text" class="form-control" id="bookName" name="bookName" placeholder="請輸入書籍名稱"
          value="{{bookName}}">
      </div>
      <div class="form-group">
        <label for="accountCode">帳號英文名稱</label>
        <input type="text" class="form-control" id="accountCode" name="accountCode" placeholder="請輸入書籍名稱"
          value="{{account}}">
      </div>
      <div class="form-group">
        <label for="originalLink">原始連結</label>
        <input type="text" class="form-control" id="originalLink" name="originalLink" placeholder="請輸入要轉換的網址"
          value="{{originalLink}}">
        <small id="originalLinkDetail"
          class="form-text text-muted">網址格式為：https://www.books.com.tw/products/(一串英數字組成代碼)</small>
        <small id="originalLinkDetail2" class="form-text text-muted">若英數字代碼後面中有出現?，請將包含?以後的值全數刪除</small>
      </div>
      <button type="submit" class="btn btn-primary">轉換</button>
    </form>
    <div class="form-group">
      <label for="result">轉換結果</label>
      <input type="text" readonly class="form-control-plaintext" id="result" value="{{result}}">
      <button id="clearAll" type="submit" class="btn btn-secondary">清除結果</button>
      <script type="text/javascript">
        $("#clearAll").click(function () {
          $(".card input").each(function () {
            $(this).val('')
          })
        })
      </script>
    </div>
  </div>
</div>